################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoreCodedChatbot.Printful/.vs/CoreCodedChatbot.Printful/v16/Server/sqlite3
/CoreCodedChatbot.Printful/.vs/CoreCodedChatbot.Printful/v16
/CoreCodedChatbot.Printful/CoreCodedChatbot.Printful/bin/Debug/netcoreapp3.0
/CoreCodedChatbot.Printful/CoreCodedChatbot.Printful/obj
/CoreCodedChatbot.Printful/CoreCodedChatbot.Printful.sln.DotSettings.user
/CoreCodedChatbot.Printful/.vs/PrintfulLib/v16
/CoreCodedChatbot.Printful/TestHarness/obj
/CoreCodedChatbot.Printful/.Printful.sln.DotSettings.user
/CoreCodedChatbot.Printful/TestHarness/bin/Debug/netcoreapp3.1
/CoreCodedChatbot.Printful/PrintfulLib.sln.DotSettings.user
/CoreCodedChatbot.Printful/.vs/PrintfulLib/DesignTimeBuild/.dtbcache
/.vs/PrintfulLib/v16
/.vs/slnx.sqlite
